<p id="notice"><%= notice %></p>
<h1>Filtro</h1>
<%= form_with url:'/aceitarReservas', scope: "post" do |form| %>
  <%= form.select :quadra, options_for_select([['Quadra 1', 101], ['Quadra 2', 102], ['Quadra 3',103]]) , {:include_blank => "Selecione uma quadra"}, {class: "form-control"}%>
  <%= form.select :dia, options_for_select([["Segunda",1], ["Terça",2], ["Quarta",3], ["Quinta",4],[ "Sexta",5]]), {:include_blank => "Selecione um dia da semana"}, {class: "form-control"} %>
  <%= form.submit "Filtrar", name: nil, :class => 'botao' %>
<% end %>

<h1>Reservas</h1>

<table class = "tabela-reservas">
  <thead>
    <tr>
      <th>Criador</th>
      <th>Modalidade</th>
      <th>Naipe</th>
      <th>Dia</th>
      <th>Inicio</th>
      <th>Termino</th>
      <th>OdP</th>
      <th>PH</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="pesquisa">
    <%= render 'reserva', reservas: @reservas %>
  </tbody>
</table>

<br>
<%= current_user.role%>
<% if current_user.role == 'LAAUSP' %>
  <%= link_to 'Resetar Pedidos','/resetReservas', data: { confirm: 'Tem certeza que deseja resetar os pedidos/reservas?' } %>
<% end %>

<%= link_to 'Nova Reserva', new_reserva_path %>
<p> </p>
<%= link_to 'Voltar', laausp_index_path %>


