<h1>Aceitar Reserva</h1>

<h3>Pedido Selecionado:</h3>
<p>Feito por:<%= @reserva.criador %></p>
<p>Esporte:<%= @reserva.modalidade   %>  Naipe:<%= @reserva.naipe %></p>
<p>Início:<%= @reserva.inicio %> Fim:<%= @reserva.termino %></p>

<h3>Confirmar pedido:</h3>
<p>Quadra: <%= @quadra %></p>

<%= render 'form', reserva_aceitum: @reserva_aceitum %>

<%= link_to 'Back', reserva_aceita_path %>
