<p id="notice"><%= notice %></p>
<h1>Filtro</h1>
<%= form_with url:'/aceitarReservas', scope: "post" do |form| %>
  <%= form.select :quadra, options_for_select([['Quadra 1', 101], ['Quadra 2', 102], ['Quadra 3',103], ['Quadra 4',104], ['Quadra 5',105], ['Quadra 6',106], ['Quadra 7',107], ['Quadra 8',108], ['Quadra 9 A',109], ['Quadra 9 B',110], ['Quadra 10 A',111], ['Quadra 10 B',112], ['Velódromo A',113], ['Velódromo B',114], ['Módulo 1',115], ['Módulo 2',116], ['Módulo 3',117], ['Módulo 4',118]]) , {:include_blank => "Escolha uma quadra"}, {class: "form-control"} %>
  <%= form.select :dia, options_for_select([["Segunda",1], ["Terça",2], ["Quarta",3], ["Quinta",4],[ "Sexta",5]]), {:include_blank => "Escolha um dia da semana"}, {class: "form-control"} %>
  <%= form.submit "Filtrar", name: nil, :class => 'botao' %>
<% end %>
<div class="mae">
<div class="filho">

<h1>Reservas</h1>

<table class = "tabela-reservas">
  <thead>
    <tr>
      <th>Criador</th>
      <th>Modalidade</th>
      <th>Naipe</th>
      <th>Dia</th>
      <th>Inicio</th>
      <th>Termino</th>
      <th>OdP</th>
      <th>PH</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="pesquisa">
    <%= render 'reserva', reservas: @reservas %>
  </tbody>
</table>

<br>
<%= current_user.role%>
<% if current_user.role == 'LAAUSP' %>
  <%= link_to 'Resetar Pedidos','/resetReservas', data: { confirm: 'Tem certeza que deseja resetar os pedidos/reservas?' } %>
<% end %>

<%= link_to 'Nova Reserva', new_reserva_path %>
<p> </p>
<%= link_to 'Voltar', laausp_index_path %>
</div>

<div class="filho">
<% if @dia == 'Segunda' %>
    <h1 class = 'dia'>SEGUNDA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
                <th class="th-quadra"><%= @quadra.name %><br>
                    <% @quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra">17:00</td>
                <td class="td-quadra">
                    <%= @quadra.seg[0]%>
                    </td>
            </tr>
            <tr>
                <td class="td-quadra">17:30</td>
                <td class="td-quadra">
                    <%= @quadra.seg[1]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">18:00</td>
                <td class="td-quadra">
                    <%= @quadra.seg[2]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">18:30</td>
                <td class="td-quadra">
                    <%= @quadra.seg[3]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">19:00</td>
                <td class="td-quadra">
                    <%= @quadra.seg[4]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">19:30</td>
                <td class="td-quadra">
                    <%= @quadra.seg[5]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">20:00</td>
                <td class="td-quadra">
                    <%= @quadra.seg[6]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">20:30</td>
                <td class="td-quadra">
                    <%= @quadra.seg[7]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">21:00</td>
                <td class="td-quadra">
                    <%= @quadra.seg[8]%>
                    </td>
                
            </tr>
        </tbody>
    </table>
    <% elsif @dia = 'Terça' %>
    <h1 class = 'dia'>TERÇA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
       
                <th class="th-quadra"><%= @quadra.name %><br>
                    <%= @quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra">17:00</td>
           
                <td class="td-quadra">
                    <%= @quadra.ter[0]%>
                    </td>
            
            </tr>
            <tr>
                <td class="td-quadra">17:30</td>
      
                <td class="td-quadra">
                    <%= @quadra.ter[1]%>
                    </td>
  
            </tr>
            <tr>
                <td class="td-quadra">18:00</td>
        
                <td class="td-quadra">
                    <%= @quadra.ter[2]%>
                    </td>
      
            </tr>
            <tr>
                <td class="td-quadra">18:30</td>

                <td class="td-quadra">
                    <%= @quadra.ter[3]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">19:00</td>
 
                <td class="td-quadra">
                    <%= @quadra.ter[4]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">19:30</td>

                <td class="td-quadra">
                    <%= @quadra.ter[5]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">20:00</td>
               
                <td class="td-quadra">
                    <%= @quadra.ter[6]%>
                    </td>
             
            </tr>
            <tr>
                <td class="td-quadra">20:30</td>
           
                <td class="td-quadra">
                    <%= @quadra.ter[7]%>
                    </td>
           
            </tr>
            <tr>
                <td class="td-quadra">21:00</td>
              
                <td class="td-quadra">
                    <%= @quadra.ter[8]%>
                    </td>
               
            </tr>
        </tbody>
    </table>
    
    
    
    <% elsif @dia = 'Quarta' %>
    <h1 class = 'dia'>QUARTA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
           
                <th class="th-quadra"><%= @quadra.name %><br>
                    <%= @quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra">17:00</td>
              
                <td class="td-quadra">
                    <%= @quadra.qua[0]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">17:30</td>
   
                <td class="td-quadra">
                    <%= @quadra.qua[1]%>
                    </td>
 
            </tr>
            <tr>
                <td class="td-quadra">18:00</td>
  
                <td class="td-quadra">
                    <%= @quadra.qua[2]%>
                    </td>
   
            </tr>
            <tr>
                <td class="td-quadra">18:30</td>
          
                <td class="td-quadra">
                    <%= @quadra.qua[3]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">19:00</td>
 
                <td class="td-quadra">
                    <%= @quadra.qua[4]%>
                    </td>
  
            </tr>
            <tr>
                <td class="td-quadra">19:30</td>
               
                <td class="td-quadra">
                    <%= @quadra.qua[5]%>
                    </td>
  
            </tr>
            <tr>
                <td class="td-quadra">20:00</td>
 
                <td class="td-quadra">
                    <%= @quadra.qua[6]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">20:30</td>
              
                <td class="td-quadra">
                    <%= @quadra.qua[7]%>
                    </td>
   
            </tr>
            <tr>
                <td class="td-quadra">21:00</td>

                <td class="td-quadra">
                    <%= @quadra.qua[8]%>
                    </td>
  
            </tr>
        </tbody>
    </table>
    <% elsif @dia = 'Quinta' %>
    <h1 class = 'dia'>QUINTA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
          
                <th class="th-quadra"><%= @quadra.name %><br>
                    <%= @quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra">17:00</td>
               
                <td class="td-quadra">
                    <%= @quadra.qui[0]%>
                    </td>
               
            </tr>
            <tr>
                <td class="td-quadra">17:30</td>

                <td class="td-quadra">
                    <%= @quadra.qui[1]%>
                    </td>
     
            </tr>
            <tr>
                <td class="td-quadra">18:00</td>
  
                <td class="td-quadra">
                    <%= @quadra.qui[2]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">18:30</td>
          
                <td class="td-quadra">
                    <%= @quadra.qui[3]%>
                    </td>
         
            </tr>
            <tr>
                <td class="td-quadra">19:00</td>
             
                <td class="td-quadra">
                    <%= @quadra.qui[4]%>
                    </td>
             
            </tr>
            <tr>
                <td class="td-quadra">19:30</td>
              
                <td class="td-quadra">
                    <%= @quadra.qui[5]%>
                    </td>
             
            </tr>
            <tr>
                <td class="td-quadra">20:00</td>
             
                <td class="td-quadra">
                    <%= @quadra.qui[6]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">20:30</td>
    
                <td class="td-quadra">
                    <%= @quadra.qui[7]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">21:00</td>
              
                <td class="td-quadra">
                    <%= @quadra.qui[8]%>
                    </td>
              
            </tr>
        </tbody>
    </table>
    <% else %>
    <h1 class = 'dia'>SEXTA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
           
                <th class="th-quadra"><%= @quadra.name %><br>
                    <%= @quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
            
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra">17:00</td>
                
                <td class="td-quadra">
                    <%= @quadra.sex[0]%>
                    </td>
               
            </tr>
            <tr>
                <td class="td-quadra">17:30</td>
               
                <td class="td-quadra">
                    <%= @quadra.sex[1]%>
                    </td>
      
            </tr>
            <tr>
                <td class="td-quadra">18:00</td>
               
                <td class="td-quadra">
                    <%= @quadra.sex[2]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">18:30</td>
               
                <td class="td-quadra">
                    <%= @quadra.sex[3]%>
                    </td>
              
            </tr>
            <tr>
                <td class="td-quadra">19:00</td>

                <td class="td-quadra">
                    <%= @quadra.sex[4]%>
                    </td>
               
            </tr>
            <tr>
                <td class="td-quadra">19:30</td>
               
                <td class="td-quadra">
                    <%= @quadra.sex[5]%>
                    </td>

            </tr>
            <tr>
                <td class="td-quadra">20:00</td>
               
                <td class="td-quadra">
                    <%= @quadra.sex[6]%>
                    </td>
             
            </tr>
            <tr>
                <td class="td-quadra">20:30</td>
              
                <td class="td-quadra">
                    <%= @quadra.sex[7]%>
                    </td>
                
            </tr>
            <tr>
                <td class="td-quadra">21:00</td>
              
                <td class="td-quadra">
                    <%= @quadra.sex[8]%>
                    </td>
            </tr>
        </tbody>
    </table>
    </div>
    </div>
<% end %>



