<html>
    <h1><%= @quadra.name %></h1>
    <table class= 'tabela-quadra'>
        <thead>
            <tr>
                <th>HOR</th>
                <th>SEG</th>
                <th>TER</th>
                <th>QUA</th>
                <th>QUI</th>
                <th>SEX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>17:00</td>
                <td><%= @quadra.seg[0] %></td>
                <td><%= @quadra.ter[0] %></td>
                <td><%= @quadra.qua[0] %></td>
                <td><%= @quadra.qui[0] %></td>
                <td><%= @quadra.sex[0] %></td>
            </tr>
            <tr>
                <td>17:30</td>
                <td><%= @quadra.seg[1] %></td>
                <td><%= @quadra.ter[1] %></td>
                <td><%= @quadra.qua[1] %></td>
                <td><%= @quadra.qui[1] %></td>
                <td><%= @quadra.sex[1] %></td>
            </tr>
            <tr>
                <td>18:00</td>
                <td><%= @quadra.seg[2] %></td>
                <td><%= @quadra.ter[2] %></td>
                <td><%= @quadra.qua[2] %></td>
                <td><%= @quadra.qui[2] %></td>
                <td><%= @quadra.sex[2] %></td>
            </tr>
            <tr>
                <td>18:30</td>
                <td><%= @quadra.seg[3] %></td>
                <td><%= @quadra.ter[3] %></td>
                <td><%= @quadra.qua[3] %></td>
                <td><%= @quadra.qui[3] %></td>
                <td><%= @quadra.sex[3] %></td>
            </tr>
            <tr>
                <td>19:00</td>
                <td><%= @quadra.seg[4] %></td>
                <td><%= @quadra.ter[4] %></td>
                <td><%= @quadra.qua[4] %></td>
                <td><%= @quadra.qui[4] %></td>
                <td><%= @quadra.sex[4] %></td>
            </tr>
            <tr>
                <td>19:30</td>
                <td><%= @quadra.seg[5] %></td>
                <td><%= @quadra.ter[5] %></td>
                <td><%= @quadra.qua[5] %></td>
                <td><%= @quadra.qui[5] %></td>
                <td><%= @quadra.sex[5] %></td>
            </tr>
            <tr>
                <td>20:00</td>
                <td><%= @quadra.seg[6] %></td>
                <td><%= @quadra.ter[6] %></td>
                <td><%= @quadra.qua[6] %></td>
                <td><%= @quadra.qui[6] %></td>
                <td><%= @quadra.sex[6] %></td>
            </tr>
            <tr>
                <td>20:30</td>
                <td><%= @quadra.seg[7] %></td>
                <td><%= @quadra.ter[7] %></td>
                <td><%= @quadra.qua[7] %></td>
                <td><%= @quadra.qui[7] %></td>
                <td><%= @quadra.sex[7] %></td>
            </tr>
            <tr>
                <td>21:00</td>
                <td><%= @quadra.seg[8] %></td>
                <td><%= @quadra.ter[8] %></td>
                <td><%= @quadra.qua[8] %></td>
                <td><%= @quadra.qui[8] %></td>
                <td><%= @quadra.sex[8] %></td>
            </tr>
        </tbody>
    </table>
</html>