<html>
    <h1><%= @quadra.name %></h1>
    <table class= 'tabela-quadra'>
        <thead>
            <tr>
                <th>HOR</th>
                <th>SEG</th>
                <th>TER</th>
                <th>QUA</th>
                <th>QUI</th>
                <th>SEX</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><center>17:00</center></td>
                <td><center><%= @quadra.seg[0] %></center></td>
                <td><center><%= @quadra.ter[0] %></center></td>
                <td><center><%= @quadra.qua[0] %></center></td>
                <td><center><%= @quadra.qui[0] %></center></td>
                <td><center><%= @quadra.sex[0] %></center></td>
            </tr>
            <tr>
                <td><center>17:30</center></td>
                <td><center><%= @quadra.seg[1] %></center></td>
                <td><center><%= @quadra.ter[1] %></center></td>
                <td><center><%= @quadra.qua[1] %></center></td>
                <td><center><%= @quadra.qui[1] %></center></td>
                <td><center><%= @quadra.sex[1] %></center></td>
            </tr>
            <tr>
                <td><center>18:00</center></td>
                <td><center><%= @quadra.seg[2] %></center></td>
                <td><center><%= @quadra.ter[2] %></center></td>
                <td><center><%= @quadra.qua[2] %></center></td>
                <td><center><%= @quadra.qui[2] %></center></td>
                <td><center><%= @quadra.sex[2] %></center></td>
            </tr>
            <tr>
                <td><center>18:30</center></td>
                <td><center><%= @quadra.seg[3] %></center></td>
                <td><center><%= @quadra.ter[3] %></center></td>
                <td><center><%= @quadra.qua[3] %></center></td>
                <td><center><%= @quadra.qui[3] %></center></td>
                <td><center><%= @quadra.sex[3] %></center></td>
            </tr>
            <tr>
                <td><center>19:00</center></td>
                <td><center><%= @quadra.seg[4] %></center></td>
                <td><center><%= @quadra.ter[4] %></center></td>
                <td><center><%= @quadra.qua[4] %></center></td>
                <td><center><%= @quadra.qui[4] %></center></td>
                <td><center><%= @quadra.sex[4] %></center></td>
            </tr>
            <tr>
                <td><center>19:30</center></td>
                <td><center><%= @quadra.seg[5] %></center></td>
                <td><center><%= @quadra.ter[5] %></center></td>
                <td><center><%= @quadra.qua[5] %></center></td>
                <td><center><%= @quadra.qui[5] %></center></td>
                <td><center><%= @quadra.sex[5] %></center></td>
            </tr>
            <tr>
                <td><center>20:00</center></td>
                <td><center><%= @quadra.seg[6] %></center></td>
                <td><center><%= @quadra.ter[6] %></center></td>
                <td><center><%= @quadra.qua[6] %></center></td>
                <td><center><%= @quadra.qui[6] %></center></td>
                <td><center><%= @quadra.sex[6] %></center></td>
            </tr>
            <tr>
                <td><center>20:30</center></td>
                <td><center><%= @quadra.seg[7] %></center></td>
                <td><center><%= @quadra.ter[7] %></center></td>
                <td><center><%= @quadra.qua[7] %></center></td>
                <td><center><%= @quadra.qui[7] %></center></td>
                <td><center><%= @quadra.sex[7] %></center></td>
            </tr>
            <tr>
                <td><center>21:00</center></td>
                <td><center><%= @quadra.seg[8] %></center></td>
                <td><center><%= @quadra.ter[8] %></center></td>
                <td><center><%= @quadra.qua[8] %></center></td>
                <td><center><%= @quadra.qui[8] %></center></td>
                <td><center><%= @quadra.sex[8] %></center></td>
            </tr>
        </tbody>
    </table>
</html>