<html>
    <h1>SEGUNDA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
            <% @quadras.each do |quadra| %>
                <th class="th-quadra"><%= quadra.name %><br>
                    <% quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra"><b>17:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[0]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>17:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[1]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[2]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[3]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[4]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[5]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[6]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[7]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>21:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.seg[8]%>
                    </td>
                <%end%>
            </tr>
        </tbody>
    </table>
    <h1>TERÇA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
            <% @quadras.each do |quadra| %>
                <th class="th-quadra"><%= quadra.name %><br>
                    <% quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra"><b>17:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[0]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>17:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[1]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[2]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[3]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[4]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[5]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[6]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[7]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>21:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.ter[8]%>
                    </td>
                <%end%>
            </tr>
        </tbody>
    </table>
    <h1>QUARTA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
            <% @quadras.each do |quadra| %>
                <th class="th-quadra"><%= quadra.name %><br>
                    <% quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra"><b>17:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[0]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>17:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[1]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[2]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[3]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[4]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[5]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[6]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[7]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>21:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qua[8]%>
                    </td>
                <%end%>
            </tr>
        </tbody>
    </table>
    <h1>QUINTA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
            <% @quadras.each do |quadra| %>
                <th class="th-quadra"><%= quadra.name %><br>
                    <% quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra"><b>17:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[0]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>17:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[1]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[2]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[3]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[4]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[5]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[6]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[7]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>21:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.qui[8]%>
                    </td>
                <%end%>
            </tr>
        </tbody>
    </table>
    <h1>SEXTA</h1>
    <table class= 'tabela-quadra'>
        <th class="th-quadra"ead>
            <tr>
                <th class="th-quadra" style="vertical-align:center !important">HOR</th>
            <% @quadras.each do |quadra| %>
                <th class="th-quadra"><%= quadra.name %><br>
                    <% quadra.esportes.each do |esporte| %>
                    <%= esporte %><br>
                    <%end%>
                </th>
                <%end%>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td-quadra"><b>17:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[0]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>17:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[1]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[2]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>18:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[3]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[4]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>19:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[5]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[6]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>20:30</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[7]%>
                    </td>
                <%end%>
            </tr>
            <tr>
                <td class="td-quadra"><b>21:00</b></td>
                <% @quadras.each do |quadra|%>
                <td class="td-quadra">
                    <%= quadra.sex[8]%>
                    </td>
                <%end%>
            </tr>
        </tbody>
    </table>
</html>