<p id="notice"><%= notice %></p>

<p>
  <strong>Dono:</strong>
  <%= @reserva_aceitum.dono %>
</p>

<p>
  <strong>Esporte:</strong>
  <%= @reserva_aceitum.esporte %>
</p>

<p>
  <strong>Naipe:</strong>
  <%= @reserva_aceitum.naipe %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @reserva_aceitum.inicio.time.strftime("%k:%M") %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @reserva_aceitum.fim.time.strftime("%k:%M") %>
</p>

<%= link_to 'Edit', edit_reserva_aceitum_path(@reserva_aceitum) %> |
<%= link_to 'Back', reserva_aceita_path %>
