<html>
              <body>
                          <h3> Perfil de <%= @user.name %> </h3>

                          <p><b>Email:</b><%= @user.email %></p>
                          <p><b>Tipo de usuário:</b><%= @user.role %></p>
                          <% if current_user == @user %>
                                     <ul class = 'acoes-usuario'>
                                                 <p><%= link_to "Editar perfil", edit_user_path(current_user) %></p>
                                                 <p><%= link_to "Deletar perfil", @user, method: :delete%></p>
                                                 <% if current_user.role == "LAAUSP" %>
                                                 <p><%= link_to "Portal da LAAUSP", laausp_index_path%></p>
                                                 <% else%>
                                                 <p><%= link_to "Portal da Atlética", aaa_index_path%></p>
                                                 <%end%>
                                                 </ul>
                          <%end%>
              </body>
  </html>