<html>
              <body>
                          <h3> Perfil de <%= @user.name %> </h3>

                          <p><b>Email:</b><%= @user.email %></p>
                          <p><b>Tipo de usuário:</b><%= @user.role %></p>
                          <% if current_user == @user %>
                                     <ul class = 'acoes-usuario'>
                                                 <li><%= link_to "Editar perfil", edit_user_path(current_user) %></li>
                                                 <li><%= link_to "Deletar perfil", @user, method: :delete%></li>
                                                 <li><%= link_to "Portal da LAAUSP", laausp_index_path%></li>
                                     </ul>
                          <%end%>
              </body>
  </html>