<%= form_with(model: atletica, local: true) do |form| %>
  <% if atletica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atletica.errors.count, "error") %> prohibited this atletica from being saved:</h2>

      <ul>
        <% atletica.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :senha %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit  "Cadastrar atlética" %>
  </div>
<% end %>
