<p id="notice"><%= notice %></p>

<p>
  <strong>Atlética:</strong>
  <%= @atletica.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @atletica.email %>
</p>



<%= link_to 'Editar', edit_atletica_path(@atletica) %> |
<%= link_to 'Voltar', atleticas_path %>
