<header>
  <div>
    <nav>
      <ul>
        <% if logged_in? %>
          <div class = 'acoes'>
          <p><%= link_to "Users", users_path %></p>
          <p>
            <ul>
              <p><%= link_to "Dados", current_user %></p>
              <p><%= link_to "Alterar dados cadastrados",
              edit_user_path(current_user) %></p>
              <p>
                <%= link_to "Sair", sign_out_path, method: "delete" %>
              </p>
            </ul>
          </p>
          </div>
        <% else %>
          <p><%= link_to "Página Inicial ", root_path %></p>
        <% end %>
      </ul>
    </nav>
  </div>
</header>